* {
  margin: 0px;
  padding: 0px;
}

.pink {
    width: 100%;
    height: 75px;
    background-color: rgb(216, 6, 118) ;
    position: relative;
}

.main-image {
  position: absolute;
  left: 485px;
  top: 20px;
}

.query {
  position: absolute;
  left: 570px;
  top: 23px;
  
}

.pink h1 {
    font-size: 21px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
    
.button {
  position: absolute;
  right: 485px;
  top: 13px;
  cursor: pointer;
  
}
  
 
 .button input {
   width: 130px;
   height: 50px;
   background-color: rgb(216, 6, 118);
   color: white;
   font-size: 15px;
   border: 1px solid white;
   border-radius: 10px;
   cursor: pointer;
  
 }

 .button input:hover {
  width: 132px;
  height: 52px;
  background-color: rgb(211, 6, 115);
 }

 .white {
   width: auto;
   height: 62px;
   background-color:white ;
   margin-top: 0px;
   border: 2px solid white;
   position: relative;
   
 }
 
 .order {
   position: absolute;
   left: 100px;
   top: 15px;
   cursor: pointer;
 }

 .lang {
  position: absolute;
  right: 160px;
  top: 16px;
  
 }

 #lang {
  width: 80px;
  height: 32px;
  border-radius: 5px;
  border: 2px solid white;
  font-size: 14px;
  padding-left: 28px;
  background-position: 7px 7px;

  
  }

  #lang:hover {
    background-color: rgb(233, 236, 239);
    cursor: pointer;
  }
  
 #lang {
  background-image: url(./image/webimage-removebg-preview.png);
  background-repeat: no-repeat;
 
 }

 .button1>input {
  width: 70px; 
  height: 32px;
  border: 1px solid rgb(216, 6, 118);
  border-radius: 10px;
  color: rgb(216, 6, 118);
  font-size: 15px;
  
}

.button1 {
  position: absolute;
  right: 360px;
  top: 16px;
 
}

.button1 input:hover {
  width: 72px;
  height: 34px;
  cursor: pointer;
}

.button2>input {
  width: 80px;
   height: 35px;
   background-color: rgb(216, 6, 118);
   color: white;
   font-size: 15px;
   border: 2px solid;
   border-radius: 10px;
   
}

.button2 input:hover {
  width: 82px;
  height: 37px;
  cursor: pointer;
}

.button2 {
  position: absolute;
  right: 260px;
  top: 15px;
}

.basket {
  position: absolute;
  right: 100px;
  top: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;

}

.basket:hover {
  background-color: rgb(233, 236, 239); 
}

.basket img {
  padding-left: 5px;padding-top: 5px;
}

.panda {
  width: auto;
  height: 600px;
  background-color: rgb(243, 238, 238);
  border: 2px solid white;
  position: relative;
}

.panda1 {
  width: 712px;
  height: 60px;
  background-color: white;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 15px;
  position: absolute;
  margin-left: 100px;
}

p {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 100px;
  padding-top: 100px;
}

.input {
width: 570px;
height: 40px;
border-radius: 10px;
border: 2px solid rgb(224, 223, 223);
padding-left: 20px;

}

.input1 {
width: 90px;
height: 45px;
border-radius: 10px;
margin-left: 10px;
background-color: rgb(216, 6, 118);
color: white;
border: 2px solid;
}

.input1:hover {
  height: 47px;
  background-color: rgb(198, 6, 109);
  cursor: pointer;
}

.panda2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  
}

.handle {
  width: auto;
  height: 125px;
  border: 0px solid;
}

#para {
  padding-left: 100px;
  padding-top: 60px;
  font-size: 30px;
}

.chefimage {
  position: relative;
}

.chef {
  width: auto;
  height: 380px;
  border: px solid;
}

.started {
  width: 600px;
  height: 340px;
  border: 0px solid white;
  border-radius: 15px;
  position: absolute;
  bottom: -180px;
  left: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  
}

#para1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  line-height: 25px;
  padding-top: 22px;
  padding-right: 20px;
    
}

#para1::first-line {
  font-size: 25px;
}

.get {
  width: 120px;
  height: 50px;
  background-color: rgb(216, 6, 118);
  color: white;
  border-radius: 10px;
  border: 0px solid white;
  font-size: 16px;
}

.chef input {
  margin-left: 25px;
  margin-top: 20px;
}

.get:hover {
  width: 122px;
  height: 52px;
  cursor: pointer;
  background-color: rgb(198, 6, 108);
}

.findus {
  width: auto;
  height: 310px;
  background-color: white;
  border: 2px solid white;
  }
  
  #city {
    padding-left: 100px;
    padding-top: 290px;
    font-size: 30px;
    
  }

  .table {
    width: 1320px;
    height: 1975px;
    margin: 20px auto 5px auto;
    
  }

  .table .tab1 {
    margin-left: 10px;
    margin-top: 18px;
  }

  .tab>div {
    display: inline-block;
    width: 300px;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    
      
  }
  
  .tab1 {
    position: relative;
    overflow: hidden;
        
  }



  .tab img {
    border-radius: 15px;
    transition: transform 0.4s ease;;
    width: 300px;
    height: 220px;

    
  }

  .tab img:hover {
    transform: scale(1.1);
    cursor: pointer;
    
  }


  .tab-isl {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-khi {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-lhr {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-fsl {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-rwp {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-abbot {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-bahal {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-dera {
    width: 144px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 17px;
    position: absolute;
    bottom: 15px;
    right: 142px;
    background-color: white;
    color: black;

  }

  .tab-guj {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-gujr {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-hyder {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-jhe {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-kam {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-lar {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-man {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-mar {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-mul {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-mur {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-ok {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-pano {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-pesh {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-que {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-rahim {
    width: 134px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 17px;
    position: absolute;
    bottom: 15px;
    right: 152px;
    background-color: white;
    color: black;

  }

  .tab-sad {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }
  .tab-sahi {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-sar {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-she {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-sia {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-suk {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .tab-wah {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 165px;
    background-color: white;
    color: black;

  }

  .pocket {
    width: auto;
    height: 500px;
    border: 0px solid;
    background-color: white;
    position: relative;
  }

  .pocket>div>p {
    font-size: 30px;
    padding-top: 0px;
  }

  .download {
    width: 1300px;
    height: 320px;
    border: 2px solid white;
    background-color: rgb(216, 6, 118);
    border-radius: 15px;
    position: absolute;
    top: 90px;
    left: 100px;
  }

  .mobile {
    position: absolute;
    bottom: 17px;
    right: 110px;
  }

  #pocket {
    position: absolute;
    top: 35px;
  }

  #download {
    position: absolute;
    top: 130px;
    left: 35px;
  }

  #download>p {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .qrcode {
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(216, 6, 118);
    position: absolute;
    top: 190px;
    left: 135px;
  }

  .fingertips {
    position: absolute;
    top: 190px;
    left: 248px;
    border: 1px solid rgb(216, 6, 118);
    width: 370px;
    height: 98px;
    background-color: rgb(216, 6, 118);
    
  }

  .pocket>.fingertips>p {
    font-size: 17px;
    color: white;
    padding-left: 5px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    
  }

  .applestore {
    position: absolute;
    left: 135px;
    top: 312px;
  }

  .applestore>img {
    border-radius: 5px;
  }

  .applestore>img:hover {
    cursor: pointer;
  }

  .googleplay {
    position: absolute;
    left: 278px;
    top: 312px;
  }

  .googleplay>img {
    border-radius: 5px;
  }

  .googleplay>img:hover {
    cursor: pointer;
  }

  .appgallery {
    position: absolute;
    left: 433px;
    top: 312px;
  }

  .appgallery>img {
    border-radius: 5px;
  }

  .appgallery>img:hover {
    cursor: pointer;
  }

  .office {
    width: auto;
    height: 60px;
    border: 0px solid;
    
    
  }
  
  #paragragh {
    padding-left: 100px;
    padding-top: 0px;
    font-size: 30px;
  }
  
  .lunchimage {
    position: relative;
  }
  
  .officelunch {
    width: auto;
    height: 380px;
    border: px solid;
  }
  
  .business {
    width: 600px;
    height: 210px;
    border: 0px solid white;
    border-radius: 15px;
    position: absolute;
    bottom: -100px;
    left: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    
    
  }
  
  #paragragh1 {
    color: rgb(96, 94, 94);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    line-height: 25px;
    padding-top: 20px;
         
  }
  
  #paragragh1::first-line {
    font-size: 25px;
  }
  
  .get {
    width: 120px;
    height: 50px;
    background-color: rgb(216, 6, 118);
    color: white;
    border-radius: 10px;
    border: 0px solid white;
    margin-left: 30px;
    font-size: 16px;
    margin-top: 18px;
  }

  .written {
    width: auto;
    height: 1550px;
    border: 0px solid;
    margin-top: 210px;
    
  }

  .written>h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 69, 69);
    padding-left: 135px;
    padding-bottom: 15px;
    

  }



  .written>p {
    font-size: 18px;
    padding: 0px 135px 15px 135px;
    color: rgb(141, 139, 139);
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
  }

  .written>h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 69, 69);
    padding-left: 135px;
    padding-bottom: 15px;
  }
  .written>h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 69, 69);
    padding-left: 135px;
  }

  .written>ul {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 69, 69);
    padding-left: 155px; 
    list-style-image: url(./image/tick-removebg-preview.png);
    padding-bottom: 15px;
  }

  .country {
    width: 1280px;
    height: 90px;
    border-top: 1px solid rgb(227, 225, 225);
    border-bottom: 1px solid rgb(227, 225, 225);
    margin-left: 90px;
    margin-top: 90px;
  }

  .country li {
    display: inline-block;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 20px;
  }

  .country ul {
    padding-left: 0px;
  }

  .country a:link {
    color: rgb(172, 171, 171);
    text-decoration: none;
    
  }

  .copyright {
    width: auto;
    height: 550px;
    border: 1px solid white;
    border-bottom: 1px solid rgb(227, 225, 225);
    
  }
    
  .copy>td {
    height: autopx;
    width: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(231, 5, 126);
    padding-left: 5px;
    padding-top: 12px;
    
  }
  
  .copy a:link {
    text-decoration: none;
    color: rgb(231, 5, 126);

  }

  .copy a:hover {
    color: rgb(231, 5, 126);
  }

  #copyright {
    width: 1295px;
    height: 500px;
   margin-left: 80px;
   
  }

  #copy {
    color: rgb(82, 82, 82) !important;
    width: 102px;
    font-size: 14px;
    
  }

  .footer {
    width: autopx;
    height: 80px;
    position: relative;
    
  }

  .footlogo li {
    display: inline;
    padding-left: 5px;
    
  }
  
  #break {
    font-size: 38px;
    color: rgb(171, 171, 171);
  }

  .footlogo {
    padding-left: 40px;
    width: auto;
    height: 8opx;
    position: absolute;
    
  } 

  .insta {
    position: absolute;
    right: 150px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(196, 195, 195);
    border-radius: 15px;
    top: 25px;
  }

  .insta:hover {
    transform: scale(1.1);
    background-color: aliceblue;
  }

  .fb {
    position: absolute;
    right: 100px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(196, 195, 195);
    border-radius: 15px;
    top: 25px;
  }

  .fb:hover {
    transform: scale(1.1);
    background-color: aliceblue; 
  }

  .fb img {
    padding-left: 8px;
    padding-top: 5px;
  }


  
  
  





  



  
  


 